.reviewsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: chocolate;
}

.reviewsPageBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
