* {
  margin: 0;
  padding: 0;
}

/* 
------ TOPBAR ------ 
ELEMENTS: NAVBAR
*/
.topBar {
  flex: 100;
  background-color: #ffc641;
}
/* 
------ MAIN ------ 
ELEMENTS: SIDEBAR
*/

.main {
  display: flex;
  background-color: cadetblue;
}

.sideBar {
  padding-left: 10px;
  margin-top: 20px;
  background-color: cadetblue;
  display: flex;
  justify-content: center;

  /* width: 5%; */
}

/* 
------ CONTENT ------ 
ELEMENTS: HOMEPAGE, LOGIN/SIGNUP, SECTORPAGE, STUDYPAGE
*/

.content {
  /* background-image: url(images/backgroundpattern.png); */

  background-size: cover;
  background-color: cadetblue;
  flex: 1;
}

/* 
------ FOOTER ------ */

.footer {
  background-color: pink;
}
