.signupPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.signupPage_top {
  margin: 20px 0;
}

.signupPage_form {
  width: 60%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.signup_formRow {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.login_formRow {
  margin-top: 30px;
}

.signup_formRow_element {
  flex: 1;
}
