.sectorPage {
  /* background-color: cadetblue; */
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 5vw;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
}

.sectorPageTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  min-width: 90vw;
  margin-bottom: 30px;
}

.sectorPageHeader {
  margin-top: 30px;
}

.sectorPageImg {
  min-width: 40%;
  max-width: 50%;
}

.studyCards {
  border: 5px solid rgb(166, 103, 196);
  border-radius: 5px;
  margin: 5px;
}

.studyPage {
  min-height: 100vh;
}

.studyPage {
  padding: 20px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.studyPage__stories {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}
