.page {
  padding: 20px;
  margin: 20px;
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: column;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 5vw;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
}

.about {
  background-color: rgb(240, 197, 62);
  padding: 50px;
}

h5 {
  font-family: "Roboto", sans-serif;
  /* font-size: 1.6vw; */
}

h6 {
  font-family: "Roboto", sans-serif;
  /* font-size: 1vw; */
}

.homeTop {
  justify-content: center;
  min-height: 80vh;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 5px;
  /* flex-direction: column; */
}

.homeTop_header {
  flex: 1;
  margin-left: 50px;
}

.homeTop_img {
  margin-top: -50px;
  margin-right: 50px;
  min-width: 50%;
}

.homeTop_img_image {
  width: 100%;
}

.home_studies {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  /* background-color: cadetblue; */
  align-content: center;
}

.home_studies_cards {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.home__container__card {
  height: 250px;
  margin: 10px;
  width: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
}
